.layout {
  display: flex;
}

.sidebar {
  width: 260px;
  background: #6b4b3e;
  min-height: 100vh;
  padding: 20px;
}

.sidebar .logo {
  width: 100%;
  margin-bottom: 30px;
}

.menu {
  display: block;
  background: #8b6a55;
  color: white;
  text-decoration: none;
  padding: 12px;
  border-radius: 20px;
  margin-bottom: 12px;
  text-align: center;
  font-weight: bold;
}

.menu:hover {
  background: #a77c63;
}
